body {
    font-family: 'Roboto Flex', sans-serif;
}

header, main {
    display: inline-block;
    background-color: grey; 
    width: 1100px; 
    margin-left: calc(50% - 550px);
}

img {
    float: left;
    height: 26px;
}

nav {
    float: right;
    margin-top: 7px;
    font-weight: 700;
}

a {
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    margin-right: 30px;
    text-decoration: none;
    color: black;
}

main {
    margin-top: 50px;
}